{% extends 'base.html' %}
{% block title %}Occasion Reminders{% endblock %}

{% block body %}
Pick from your calendars: 
<ul>
    {% for cal in cals %} <!-- todo: style these buttons as links and put them display:inline to get rid of linebreak-->
        <li><form action='/select-cal' method='post'>
            <input type="hidden" name="cal_id" value="{{ cal['id'] }}"/>
            <button type = "submit">{{ cal["summary"] }}</button></form>{% if cal["description"] %}: {{ cal["description"] }}
            {% endif %}
            {% if cal["primary"] %}
                (primary calendar)
            {% endif %}
        </li>
    {% endfor %} <!-- https://stackoverflow.com/questions/3915917/make-a-link-use-post-instead-of-get -->
</ul>
{% endblock %}

