{% extends 'base.html' %}
{% block title %}Occasion Reminders{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="/static/sidebar.css">
<link rel="stylesheet" href="/static/testing.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script> 

{% endblock %}
{% block body %}


<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">
                  Start Bootstrap
              </a>
          </li>
          <li>
              <a href="#">Dashboard</a>
          </li>
          <li>
              <a href="#">Shortcuts</a>
          </li>
          <li>
              <a href="#">Overview</a>
          </li>
          <li>
              <a href="#">Events</a>
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                  <h1 id="this-simple-sidebar">Simple Sidebar</h1>
                  <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                  <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

Welcome to Occasion Reminders!
<br><br>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Import contacts
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {% if has_imported %}
        <!--- room for improvement (incremental load?)-->
        You've already imported your contacts! Your Google contacts should remain your 
        source of truth, so if you'd like to reimport to update with any changes made there, 
        you can refresh below: 
        <a href="/clear-contacts">Refresh contacts</a><br> 
        {% else %}
        <a href="/import-contacts">Import contacts</a><br> 
        {% endif %}
        <br>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Edit notification groups
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <b>Add notification groups:</b> <br>
        <form id="new-tier" method="post"> 
          Name:<input type="text" id="tier-name" name="tier-name"><br> <!-- help text, required fields, data validation / sanitizing -->
          Description:<input type="text" id="tier-desc" name="tier-desc"><br>
          Reminder timeline (days ahead):<input type="number" id="tier-days-ahead" name="tier-days-ahead" min="0" max="100" step="1"><br>
          Reminder Type:
            <input type="radio" value="popup" id="tier-reminder-type" name="tier-reminder-type">
            <label for="popup">popup</label>
            <input type="radio" value="email" id="tier-reminder-type" name="tier-reminder-type">
            <label for="email">email</label><br>
          <input type="submit">
        </form>
        <br>
        <br>
        {% if not tiers %}
          You haven't added any notification groups yet! 
        {% endif %} 
        <table id="tiers-table">
        <!-- handle case with none -->
            <thead>
              <tr>
                <th></th>
                <th>Notification Group Name</th>
                <th>Description</th>
                <th>Reminder timeline (days ahead)</th>
                <th>Reminder type</th>
              </tr>
            </thead>
            {% for tier in tiers %}
            <tbody>
              <tr id=tier_row_{{ tier.tier_id }}>
                <td><button type="button" id="{{ tier.tier_id }}" class="del-tier"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg></i></button></td>
                <td>{{ tier.name }}</td>
                <td>{{ tier.description }}</td>
                <td>{{ tier.reminder_days_ahead }}</td>
                <td>{{ tier.reminder_type }}</td>
              </tr>
            </tbody>
            {% endfor %}
        </table>
        <br>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Apply notification groups to occasions
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <b>Notification Group</b>
        <form class="upd-tier">
          <select name="tier-dropdown" id="tier-dropdown" method="POST">
          {% for tier in tiers %}
            <option value="{{ tier.tier_id }}">{{ tier.name }}</option> <!--disable the one that is already selected..?-->
          {% endfor %}
          </select>
          <input type="submit" ><!--don't allow submitting if no boxes are checked?-->
        </form>
        <table id="occasions-and-tiers">
            <tr>
              <th>Update Group?</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Occasion Type</th>
              <th>Occasion Date</th>
              <th>Notification Group</th>
            </tr>
            {% for occasion in occasions %}
            <tr>
              <td><input type="checkbox" id="{{ occasion.occasion_id }}"></td>  <!--do i have to manually implement shift+click? -->
              <td>{{ occasion.contact.fname }}</td>
              <td>{{ occasion.contact.lname }}</td>
              <td>{{ occasion.occasion_type }}</td>
              <td>{{ occasion.date }}</td>
              <td><span class=tier_name_{{ occasion.occasion_id }}>{{ occasion.tier.name }}</span></td>
              <!--<td><button type="button" id="{{ occasion.occasion_id }}" class="upd-tier">Update contact group</button></td>-->
            </tr>
            {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Update Google calendar reminders
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <a href="/sync-events">Sync your reminders to your calendar</a><br><br> 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Export reminder tags to Google contacs
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <a href="/export-contacts">Export contacts</a><br> 
      </div>
    </div>
  </div>
</div>

<script src="/static/tiers.js"> </script> 
<script src="/static/sort-and-filter.js"> </script> 
{% endblock %}