{% extends 'sidebar-base.html' %}
    {% block maincontent %}
<script>
(() => {
    'use strict'
    document.querySelector("#groups").classList.add('active')
})()
</script>
<p>
  <div class="d-grid gap-2">
    <button class="btn btn-secondary" type="button"data-bs-toggle="collapse" data-bs-target="#add-form" aria-expanded="false" aria-controls="add-form">Add notification group</button>
  </div>
</p>
<div class="collapse" id="add-form">
  <div class="card card-body">
      <!-- <label for="tier-name" class="form-label">Name</label>
      <input type="text" id="tier-name" name="tier-name" class="form-control" maxlength="20" required placeholder="Local friends' birthdays" aria-describedby="emailHelp">
      <label for="tier-desc" class="form-label">Description</label>
      <input type="text" id="tier-desc" name="tier-desc" class="form-control" maxlength="50" placeholder="You'll need to get a gift!">
      <label for="tier-days-ahead">Number of days ahead to receive a reminder</label>
      <input type="number" id="tier-days-ahead" name="tier-days-ahead" min="0" max="100" step="1" required>
      <label for="tier-reminder-type">Reminder Type:</label>
        <input type="radio" value="popup" id="tier-reminder-type" name="tier-reminder-type" required>
        <label for="popup">popup</label>
        <input type="radio" value="email" id="tier-reminder-type" name="tier-reminder-type" required>
        <label for="email">email</label><br>
      <input type="submit">
    </form> -->
    <form id="new-tier" class="row g-3">
      <div class="col-md-6">
        <label for="tier-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="tier-name" name="tier-name" maxlength="40" required placeholder="Local friends' birthdays">
      </div>
      <div class="col-md-3">
        <label for="tier-days-ahead" class="form-label">Notification Days Ahead</label>
        <input type="number" class="form-control" id="tier-days-ahead" name="tier-days-ahead" min="0" max="100" step="1" required>
      </div>
      <div class="col-md-3">
        <label for="tier-reminder-type" class="form-label">Type</label>
        <fieldset> 
        <input type="radio" value="popup" id="tier-reminder-type" name="tier-reminder-type" required>
        <label for="popup">popup</label>
        <input type="radio" value="email" id="tier-reminder-type" name="tier-reminder-type" required>
        <label for="email">email</label>
        </fieldset> 
      </div>
      <div class="col-12">
        <label for="tier-desc" class="form-label">Description</label>
        <input type="text" class="form-control" id="tier-desc" name="tier-desc" maxlength="100" placeholder="You'll need to get a gift!">
      </div>
      <div class="col-2">
      <input type="submit" class="btn btn-primary"></input>
      </div>
    </form>
  </div>
</div>
<var> </var>
<table id="tiers-table" class="table">
<!-- handle case with none -->
    <thead>
      <tr>
        <th></th>
        <th>Notification Group Name</th>
        <th>Description</th>
        <th>Notification days</th>
        <th>Notification type</th>
      </tr>
    </thead>
    <tbody>
      <tr id="no-groups" hidden="true">
        <td></td>
        <td>You don't have any notification groups!</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% if not tiers %}
      <script>
        (() => {
            'use strict'
            document.querySelector("#no-groups").removeAttribute("hidden")
        })()
      </script>
      {% endif %}
      {% for tier in tiers %}
      <tr id=tier_row_{{ tier.tier_id }}>
        <td><button type="button" id="del_button_{{ tier.tier_id }}" class="del-tier"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg></i></button></td>
        <td>{{ tier.name }}</td>
        <td>{{ tier.description }}</td>
        <td>{{ tier.reminder_days_ahead }}</td>
        <td>{{ tier.reminder_type }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<script src="/static/add-groups.js"> </script> 
{% endblock %}
