{% extends 'sidebar-homepage.html' %}
    {% block maincontent %}
<b>Add notification groups:</b> <br>
<form id="new-tier" method="post"> 
  Name:<input type="text" id="tier-name" name="tier-name"><br> <!-- help text, required fields, data validation / sanitizing -->
  Description:<input type="text" id="tier-desc" name="tier-desc"><br>
  Reminder timeline (days ahead):<input type="number" id="tier-days-ahead" name="tier-days-ahead" min="0" max="100" step="1"><br>
  Reminder Type:
    <input type="radio" value="popup" id="tier-reminder-type" name="tier-reminder-type">
    <label for="popup">popup</label>
    <input type="radio" value="email" id="tier-reminder-type" name="tier-reminder-type">
    <label for="email">email</label><br>
  <input type="submit">
</form>
<br>
<br>
<var> </var>
{% if not tiers %}
  You haven't added any notification groups yet! 
{% else %}
<table id="tiers-table" class="table">
<!-- handle case with none -->
    <thead>
      <tr>
        <th></th>
        <th>Notification Group Name</th>
        <th>Description</th>
        <th>Reminder timeline (days ahead)</th>
        <th>Reminder type</th>
      </tr>
    </thead>
    {% for tier in tiers %}
    <tbody>
      <tr id=tier_row_{{ tier.tier_id }}>
        <td><button type="button" id="{{ tier.tier_id }}" class="del-tier"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg></i></button></td>
        <td>{{ tier.name }}</td>
        <td>{{ tier.description }}</td>
        <td>{{ tier.reminder_days_ahead }}</td>
        <td>{{ tier.reminder_type }}</td>
      </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %} 
<script src="/static/add-groups.js"> </script> 
<script>
  (() => {
      'use strict'
      document.querySelector("#groups").classList.add('active')
      console.log("HEY")
    })()
  </script>
{% endblock %}
