{% extends 'sidebar-base.html' %}
    {% block maincontent %}
    <h4>Welcome to Occasion Reminders, {{ user.fname }}!</h4>
<br> 
Bulk create & manage reminders for occasions in your life with the Gsuite tools you already use: 
<ul> 
<li>Import occasions like birthdays and anniversaries from your Google contacts.</li>

<li>Create Notification Groups to represent the types of reminders you'd like to recieve.</li>

<li>Apply those Notification Groups in bulk to the occasions you'd like to track. </li>

<li>Export your reminders to your Google Calendar. </li>
</ul>
<script>
    (() => {
        'use strict'
        document.querySelector("#hometab").classList.add('active')
        console.log("we out here (in sidebar-homepage.html)")
      })()
    </script>
{% endblock %}