{% extends 'sidebar-base.html' %}
{% block title %}Occasion Reminders{% endblock %}

{% block maincontent %}
The following events will be added to your calendar: 
<br>
<table class="table">
    <tr>
      <th>Summary</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th>Recurrence</th>
      <th>Reminder</th>
    </tr>
    {% for event in events %}
    <tr>
      <td>{{ event.summary }}</td>
      <td>{{ event.description }}</td>
      <td>{{ event.start.date }}</td> 
      <td>{{ event.end.date }}</td>
      <td>Yearly</td>
      <td>{{ event.reminders.overrides[0].method }} {{ (event.reminders.overrides[0].minutes/(24*60)) | round(0) | int}} days ahead</td>
    </tr>
    {% endfor %}
</table>
<br>
<a href = "/add-events" name="approve" class="btn btn-primary">Send to calendar</a>

<script>
(() => {
    'use strict'
    document.querySelector("#preview").classList.add('active')
  })()
</script>
{% endblock %}