{% extends 'sidebar-homepage.html' %}
    {% block maincontent %}
        {% if has_imported %}
        <!--- room for improvement (incremental load?)-->
        <b>Import Status:</b> you've already imported your contacts! 
        <br>
        Your Google contacts should remain your source of truth, so if you'd like to reimport to update with any changes made there, you can refresh below: 
        <br><br>
        <a href="/clear-contacts">Refresh contacts</a><br> 
    {% else %}
        <b>Import Status:</b> not imported 
        <a href="/import-contacts-helper">Import contacts</a><br> 
    {% endif %}
    <br><br>
    Note: if you have other occasions you'd like to bulk manage your reminders for, you can add them on the Apply Notification Groups page.
    <br>
    <b>Your occasions from contacts</b>
    <br>
    <table class="table">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Occasion Type</th>
          <th>Occasion Date</th>
        </tr>
        {% for occasion in occasions %}
        <tr>
          <td>{{ occasion.contact.fname }}</td>
          <td>{{ occasion.contact.lname }}</td>
          <td>{{ occasion.occasion_type }}</td>
          <td> {{ occasion.date.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}