{% extends 'base.html' %}
{% block body %}
Add a tier: <br>
<form action = "/add-tier" method="post"> <!-- ajax...?-->
  Name:<input type="text" name="tier-name"><br> <!-- help text, required fields, data validation / sanitizing -->
  Description:<input type="text" name="tier-desc"><br>
  Reminder timeline (days ahead):<input type="number" name="tier-days-ahead" min="0" max="100" step="1"><br>
  Reminder Type:
    <input type="radio" value="popup" name="tier-reminder-type">
    <label for="popup">popup</label>
    <input type="radio" value="email" name="tier-reminder-type">
    <label for="email">email</label><br>
  <input type="submit">
</form>
<br>
<br>
{% if not tiers %}
  You haven't added any notification tiers yet! 
{% endif %} 
  <table>
      {% if tiers %}
      <tr>
        <th>Notification Tier Name</th>
        <th>Description</th>
        <th>Reminder timeline (days ahead)</th>
        <th>Reminder type</th>
      </tr>
      {% endif %}
      {% for tier in tiers %}
      <tr>
        <td>{{ tier.name }}</td>
        <td>{{ tier.description }}</td>
        <td>{{ tier.reminder_days_ahead }}</td>
        <td>{{ tier.reminder_type }}</td>
      </tr>
      {% endfor %}
  </table>

<script> </script> 
{% endblock %}